/build
*.o
*.a
*.so
a.out
TAGS
tags
cscope.out
cscope.files
core
core.[0-9]*
vgcore.[0-9]*
*~
,*
[0-9][0-9].incl
[0-9][0-9].excl
/configure
config.log
config.cache
autom4te.cache
/make/common-vars.mak
/tbx/examples/GNUmakefile
/tbx/GNUmakefile
/memory/examples/mami/testing/GNUmakefile
/memory/examples/mami/GNUmakefile
/memory/examples/heap/time/GNUmakefile
/memory/examples/heap/simple/GNUmakefile
/memory/GNUmakefile
/nmad/GNUmakefile
/leoparse/GNUmakefile
/ezflavor/GNUmakefile
/init/GNUmakefile
/GNUmakefile
/leonie/GNUmakefile
/puk/examples/GNUmakefile
/puk/GNUmakefile
/pioman/examples/GNUmakefile
/pioman/GNUmakefile
/ntbx/GNUmakefile
/stackalign/GNUmakefile
/marcel/examples/GNUmakefile
/marcel/GNUmakefile
/profile/bubblelib/GNUmakefile
/profile/bubbles/GNUmakefile
/profile/GNUmakefile
/profile/fut2paje/GNUmakefile
/profile/flashnmad/GNUmakefile
/profile/bubblegum/GNUmakefile
/mad3/examples/GNUmakefile
/mad3/GNUmakefile
/pm2/GNUmakefile
/make/config.mak
/aclocal.m4
/marcel/include/config.h
/marcel/include/config.h.in
/marcel/scripts/cpp-hash.sh
/config.status
/bin/ezflavor
/bin/pm2-flavor-diff
/make/apps-vars.mak
