<define-tag menu_en>
<div class=menu>
&nbsp;&nbsp; <a class=menu href="<get-var ROOT>/pm2-doc/"                       >PM2 Manual homepage</a>
&nbsp;|&nbsp; <a class=menu href="<get-var ROOT>/pm2/"                       >PM2 homepage</a>
&nbsp;|&nbsp; <a class=menu href="<get-var ROOT>/Runtime/"                      >RUNTIME homepage</a>
&nbsp; &nbsp;
</div>
</define-tag>
