  De nombreuses variables d'environnement permettent de modifier le
comportement par défaut de pm2. Les principales sont présentées ici
avec leur valeur par défaut.

PM2_ROOT: la base des sources. INDISPENSABLE
  La compilation ne nécessite que cette variable.
  Défaut: []

PATH: Il est conseillé de rajouter ${PM2_ROOT}/bin dans son PATH
  Ce n'est pas nécessaire pour la compilation
  Ce peut être nécessaire pour l'exécution

PM2_FLAVOR: la flavor en cours.
  La plupart des commandes acceptent une option --flavor=... prioritaire
  par rapport à cette variable
  Défaut: dépend de la commande/du répertoire où on lance make

PM2_RSH: le programme de connection à distance
  Désormais, ssh est utilisé par défaut

LEO_RSH:
  Comme le précédent, mais pour Léonie uniquement
  Si non positionné, PM2_RSH est utilisé

  Note: la commande indiquée dans LEO_RSH peut contenir des options.
  En particulier, il est possible de définir LEO_RSH='ssh -f' en
  combinaison avec le mode 'wait' (option -w) de Léonie pour sérialiser 
  l'accès à X.


###############################################################
# Chemin d'accès aux fichiers créés

Le schéma suivant montre les variables d'environnement utilisables et leur
valeur par défaut.
Les variables sont relatives les unes aux autres :
* si on modifie PM2_HOME, tout l'arbre est déplacé
* si on modifie PM2_CONF_DIR, seul le sous arbre des fichiers de config est 
  déplacé
Les variables doivent contenir des chemins absolus

'flavor' représente le nom d'une flavor
'builddir' représente le répertoire de construction de la flavor
   par défaut, pm2-flavor le met égal au nom de la flavor
   mais l'utilisateur peut mettre un chenin relatif (à PM2_BUILD_DIR)
     ou absolu
'module' représente le nom d'un module inclus dans la flavor

PM2_HOME              ${HOME}
PM2_CONF_DIR           |_ .pm2
PM2_FLAVOR_DIR         |   |_ flavors 
                       |   |_ conf
		       |       |_ 'flavor'
		       |           |_ .pm2conf
PM2_BUILD_DIR          |_ build
'builddir' (absolu)        |_ 'builddir' (relatif)
                               |_ lib
			       |_ 'module'|examples
			       |   |_ asm 
			       |   |_ bin
			       |   |_ cpp
			       |   |_ dep
			       |   |_ include
			       |   |_ obj
			       |   |_ src
			       |   |_ tmp
			       |_ mak
			       |_ stamp


