Several environment variables allow to modify the behaviour of PM2.
The main variables are described here with their default value.

PM2_FLAVOR: The current flavor.
  Many of the PM2 commands provide the parameter --flavor=... which
  will overwrite the variable if set.
  Default: depends on the command or on the directory which make is
  called from.

PM2_RSH: remote connexion utility.
  Default: ssh

LEO_RSH: remote connexion utility for leonie.
  When unset, use PM2_RSH.

  Note: LEO_RSH may specify a command with parameters. One can for
  example define LEO_RSH='ssh -f'. When used with the wait mode
  provided by Leonie (option -w), the X remote accesses will be
  serialised.


###############################################################
# Access paths to PM2 files

The following picture shows the different environment variables as
well as their default values.
Variables are related to each other.
* When PM2_CONF_DIR is modified, the configuration files tree is
moved.

Variables must specify absolute paths.

'flavor' is the name of the flavor.
'builddir' is the directory containing the compiled files for the
           flavor
'module' is the name of one of the modules included in the flavor.


                       ${HOME}
PM2_CONF_DIR           |_ .pm2
PM2_FLAVOR_DIR             |_ flavors 
                           |_ conf
		           |  |_ 'flavor'
		           |      |_ .pm2conf
		           |_ nmad
		              |_ driver
		              |_ strategy

		       ${PM2_OBJROOT}
                       |_ build
                           |_ @PM2_ASM@
			      |_ ${PM2_FLAVOR}
                                 |_ lib
    			         |_ 'module'|examples
			         |   |_ asm 
			         |   |_ bin
			         |   |_ cpp
			         |   |_ dep
			         |   |_ include
			         |   |_ obj
			         |   |_ src
			         |   |_ tmp
			         |_ mak
			         |_ stamp


Obsolete (do not use):
-- $PM2_HOME
-- $PM2_BUILD_DIR
-- $PM2_SYS, $PM2_ARCH, $PM2_ASM
-- $PM2_EXT



